# Ignorer les environnements virtuels
venv/
env/
.env
.DS_Store
create_admin.py
# Ignorer les fichiers compilés Python
__pycache__/
*.py[cod]

# Ignorer les dossiers Node (Frontend)
node_modules/
dist/
build/
.vscode/